.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
}

#detail {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.recent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image {
  width: 30%; /* Adjust this width as needed */
  max-width: 300px;
  margin: 5px;
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Wrap images to next line when container width is exceeded */
  justify-content: space-between; /* Distribute images evenly in each row */
  border-radius: 10px; /* Add border radius */
  overflow: hidden; /* Hide overflow to ensure border radius is applied properly */
}
