/* Updatingboat.css */

.addboat-update {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto; /* Enable scrolling */
  }
  
  .addboat-update form {
    display: flex;
    flex-direction: column;
  }
  
  .addboat-update label {
    margin-bottom: 10px;
  }
  
  .addboat-update input,
  .addboat-update select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .addboat-update button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addboat-update button:hover {
    background-color: #0056b3;
  }
  