.login-container {
  position: relative;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  max-height: 100vh; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 250px;
  padding-right: 200px;
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
}

.card1-container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 80%;
  padding-left: 160px;
  padding-top: 50px;
}

.card-right, .card-left {
  flex: 1;
  padding-bottom: 10px;
}

.card-body {
  justify-content: center;
  text-align: center;
  padding-top: 300px;
  padding-right: 100px;
}

.card-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.separator-line {
  width: 2px;
  background-color: #ddd;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.alert {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.reg {
  text-decoration: none;
  color: #007bff;
}

.reg:hover {
  text-decoration: underline;
}
