#explor {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'YourFont', sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

#explor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/Dash.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: -1;
  flex-direction: column;
  width: 100%;
}

#im {
  margin-top: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
  margin-top: 20px;
}



.booked-boat-card {
  border: 1px solid white;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Align content in a column */
  align-items: center; /* Center the content horizontally */
  background-color: white;
  border: 2px solid #faf4f4;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.boat-image {
  width: 320px;
  height: 280px;
  object-fit: cover;
  margin-bottom: 20px; /* Add margin-bottom to separate image and details */
}

.boat-details {
  flex: 1;
}

.available-status {
  font-weight: bold;
  margin-left: 10px;
}

.available {
  color: green;
}

.not-available {
  color: red;
}
